<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>OurList Post || <%= book.title %></title>


        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <%- include ('../partials/head.ejs') %>

    </head>
    <body>

        <nav>
            <div class="navbar">
                <a href='/'>OURLIST</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/books/<%=book._id%>">Go Back</a></li>
                <li><a href="/books/new">Create a New Listing!</a></li>
                <li><a href="/books">View all Books listings</a></li>
            </ul>
            </div>
          </nav>
        

		<main>
        
			<section class = 'editformsection'>
                <h5>Edit Listing: <%= book.title %></h5>

            
            <div class ='editform'>

			<form action="/books/<%= book._id%>?_method=PUT" method="POST">
				<p>
                    Title
					<input
						type="text"
						name="title"
						placeholder="Title"
						value="<%= book.title %>"/> 
				</p>
				<p>

                    Price
 
                <input
						type="number"
						name="price"
						placeholder="price"
						value="<%= book.price %>"/>
				</p>
                Description

                <textarea type="text" name="description" placeholder="Body">
                    <%= book.description %></textarea>
                    <p>
                <button class="btn waves-effect waves-light" type="submit" name="action">Update Listing

                  </button>
			</form>

        </div>
            </section>

            

        </main>

        

    


        <footer class="page-footer"id ='navbar'>
            
                  Lead Developers: Jack Glazer & Nat Zeng
                  
                </div>
              </footer>



    
    </body>



</html>
