<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>OurList Post || <%= posts.title %></title>


        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        
        <nav>
			<h1>Edit Page!</h1>
			<form>
                <input type="button" value="Go back!" onclick="history.back()">
               </form>
			<ul>
				<li>
					<a href="/posts">Posts</a>
				</li>
				<li>
					<a href="/posts/new">Add a Post</a>
				</li>
			</ul>
		</nav>
		<main>
			<section>
				

            
            
            

                <h1>Edit <%= posts.title %></h1>
			<form action="/posts/<%= posts._id%>?_method=PUT" method="POST">
				<p>
					<input
						type="text"
						name="title"
						placeholder="Title"
						value="<%= posts.title %>"/>
				</p>
				<p>
					<textarea type="text" name="price" placeholder="price">
                <%= posts.price %></textarea>
				</p>
                <textarea type="text" name="description" placeholder="Body">
                    <%= posts.description %></textarea>
				<input type="submit" value="Update Listing" />
			</form>

            
            </section>
        </main>
        <script src="" async defer></script>
    </body>
</html>
