<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>OurList Post || <%= posts.title %></title>


        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <%- include ('../partials/head.ejs') %>

    </head>
    <body>

        <nav>
            <div class="nav-wrapper">
                <a href='/'>OURLIST</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Go Back</a></li>
                <li><a href="/posts/new">Create a New Listing!</a></li>
                <li><a href="/posts">View all Post listings</a></li>
            </ul>
            </div>
          </nav>

    
		<main>
			<section>
				<h2>Post Info</h2>

               


                <div class="row">
                    <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image">
                          <!-- <img src="images/sample-1.jpg"> -->
                          <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">

				<ul>
					<li>Name: <%= posts.title %></li>

                    <li>Price: <%= posts.price %></li>
                    <li>Description: <%= posts.description %></li>

				</ul>

            </div>
            <div class="card-action">
                <a href="/posts/<%=posts._id %>/edit">Edit</a>
                <form action="/posts/<%= posts._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" />
                </form>
            </div>
          </div>
        </div>
      </div>
    
        <div>
        </div>
        </div>

			</section>

<h2>Comments</h2>
<form id="add-comment-form" 
  action="/posts/<%= posts._id %>/comments" method="POST">
  <label>Review:</label>
  <textarea name="content"></textarea>
  
  <input type="submit" value="Add Comment">
</form>


<% if (posts.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>Review</th>

        
    </tr>
</thead>
<tbody>
    <% posts.comments.forEach(function(r) { %>
        <tr>
            <!-- <td><%= r.createdAt.toLocaleDateString() %></td> -->
            <td><%= r.content %></td> 
            <br>
            <td>
            <form action="/posts/<%= posts.comments._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete" /></form>

             </td>
        </table>
    </tr>
    
    
    <% }); %>
</tbody>

<% } else { %>
    <h5>No Reviews Yet</h5>
    <% } %>
    
    

		</main>


        <script src="" async defer></script>
    </body>
</html>
