<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>OurList Post || <%= posts.title %></title>


        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <%- include ('../partials/head.ejs') %>

    </head>
    <body>

        
        <nav>
			<h1>Show Page!</h1>
			<ul>
				<li>
					<a href="/posts">Posts</a>
				</li>
				<li>
					<a href="/posts/new">Add a Post</a>
				</li>
			</ul>
		</nav>
		<main>
			<section>
				<h2>Post Info</h2>
				<a href="/posts/<%=posts._id %>/edit">Edit</a>

                <form action="/posts/<%= posts._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" />
                </form>
    
                
				<ul>
					<li>Name: <%= posts.title %></li>

                    <li>Price: <%= posts.price %></li>
                    <li>Description: <%= posts.description %></li>

				</ul>
			</section>

<h2>Comments</h2>
<form id="add-comment-form" 
  action="/posts/<%= posts._id %>/comments" method="POST">
  <label>Review:</label>
  <textarea name="content"></textarea>
  
  <input type="submit" value="Add Comment">
</form>


<% if (posts.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>Review</th>
        
    </tr>
</thead>
<tbody>
    <% posts.comments.forEach(function(r) { %>
        <tr>
            <!-- <td><%= r.createdAt.toLocaleDateString() %></td> -->
            <td><%= r.content %></td> 
            <br>
            <td>
            <form action="/posts/<%= posts.comments._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete" /></form>

             </td>
        </table>
    </tr>
    
    
    <% }); %>
</tbody>

<% } else { %>
    <h5>No Reviews Yet</h5>
    <% } %>
    
    
		</main>


        <script src="" async defer></script>
    </body>
</html>
