<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

<<<<<<< HEAD
        <title>OurList Post || <%= electronics.title %></title>
=======
        <title>OurList Post || <%= Electronic.title %></title>
>>>>>>> a1bd7cbcf59a51f9b07ffce4a5331f58361acd99


        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <%- include ('../partials/head.ejs') %>

    </head>
    <body>

        <nav>
            <div class="navbar">
                <a href='/'>OURLIST</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
<<<<<<< HEAD
                <li><a href="/electronics/<%=electronics._id%>">Go Back</a></li>
=======
                <li><a href="/electronics/<%=Electronic._id%>">Go Back</a></li>
>>>>>>> a1bd7cbcf59a51f9b07ffce4a5331f58361acd99
                <li><a href="/electronics/new">Create a New Listing!</a></li>
                <li><a href="/electronics">View all electronics listings</a></li>
            </ul>
            </div>
          </nav>
        

<<<<<<< HEAD
          <main>
            <br><br><br><br>
                <section class = 'editformsection'>
                    <span class='craigslist'>edit listing for: </span>
                    <br><br>
                    <span class='headingtitle'>'<%= electronics.title %> '</span>
                <br><br>
                <div class ='editform'>
    
                <form action="/electronic/<%= electronics._id%>?_method=PUT" method="POST">
=======
		<main>
        
			<section class = 'editformsection'>
                <h5>Edit Listing: <%= Electronic.title %></h5>

            
            <div class ='editform'>

			<form action="/electronics/<%= Electronic._id%>?_method=PUT" method="POST">
				<p>
                    Title
					<input
						type="text"
						name="title"
						placeholder="Title"
						value="<%= Electronic.title %>"/> 
				</p>
				<p>

                    Price
 
                <input
						type="number"
						name="price"
						placeholder="price"
						value="<%= Electronic.price %>"/>
				</p>
                Description

                <textarea type="text" name="description" placeholder="Body">
                    <%= Electronic.description %></textarea>
>>>>>>> a1bd7cbcf59a51f9b07ffce4a5331f58361acd99
                    <p>
                        Title
                        <input
                            type="text"
                            name="title"
                            placeholder="Title"
                            value="<%= electronics.title %>"/> 
                    </p>
                    <p>
    
                        Price
     
                    <input
                            type="number"
                            name="price"
                            placeholder="price"
                            value="<%= electronics.price %>"/>
                    </p>
                    Description
    <br><br>
                    <textarea type="text" name="description" placeholder="Body">
                        <%= electronics.description %></textarea>
                        <p>
                    <button class="btn waves-effect waves-light" id='clbutton' type="submit" name="action">Update Listing
    
                      </button>
                </form>
    
            </div>
                </section>
    
                
    
            </main>
    
        

    


        <footer class="page-footer"id ='navbar'>
            
                  Lead Developers: Jack Glazer & Nat Zeng
                  
                </div>
              </footer>



    
    </body>



</html>