<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>OurList Post || <%= electronics.title %></title>


        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <%- include ('../partials/head.ejs') %>

    </head>
    <body>

      <nav>
        <div class="navbar">
            <a href='/'>OURLIST</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/electronics">Go Back</a></li>
            <li><a href="/electronics/new">Create a New Listing!</a></li>
            <li><a href="/electronics">View all electronics listings</a></li>
        </ul>
        </div>
      </nav>


    
		<main>

			<section class = 'showcard'>
                <h5>Details about: <%= electronics.title %></h5>


                <div>
                <div class="row">
                    <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image">
                        </div>
                        <div class="card-content">

				    <ul>
					<li>Title: <%= electronics.title %></li>
                    <li>Price: $<%= electronics.price %></li>
                    <li>Description: <%= electronics.description %></li>

			    	</ul>

            </div>
            <div class="card-action">

                
                <a class = 'btn waves-effect waves-light' href="/electronics/<%=electronics._id %>/edit">Edit</a>

             

                <form class ='btn waves-effect waves-light' action="/electronics/<%= electronics._id %>?_method=DELETE" method="POST"> <input type="submit" value="Delete" />
                </form>


            </div>
          </div>
        </div>
      </div>
    </div>
    
        <div>
        </div>
        </div>

			</section>



<form class="comments" 
  action="/electronics/<%= electronics._id %>/comments" method="POST">
  <label>Comments</label><br>
  
  <textarea name="content" id ='commentbox' ></textarea>
  <br>
  <input type="submit" class='btn waves-effect waves-light' value="Add Comment">
</form>


<% if (electronics.comments.length) { %>
  <div class ='reviews'>
    <thead>
      <tr>
        <th>Comments</th>

        
    </tr>
</thead>
<body>
    <div>
    <% electronics.comments.forEach(function(r) { %>
        <tr>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.content %></td> 
            <br>
            <td>
            <form action="/electronics/<%= electronics.comments._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete" /></form>

             </td>
            </div>
    </tr>
    
    
    <% }); %>
</div>
</body>

<% } else { %>
    <h5>No Comments Yet</h5>
    <% } %>
    
    



    
		</main>

        <footer class="page-footer"id ='navbar'>
  
        Lead Developers: Jack Glazer & Nat Zeng
       
      </div>
    </footer>

    </body>
</html>
